/* BUTTON STYLE SHEET */

/* Desktop max-width 1920px */
.button-download,
.button-link-project,
.button-link-partner {
    background-color: #180caf;
    border-radius: 100px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    border: none;
}

.button-download,
.button-link-partner {
    padding: 30px 40px;
}

.button-link-project {
    padding: 15px 40px;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);
}

.button-download:hover,
.button-link-project:hover,
.button-link-partner:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Tablet max-width 1024px */
@media screen and (max-width: 1024px) {
    .button-download,
    .button-link-project,
    .button-link-partner {
        font-size: 20px;
    }

    .button-download,
    .button-link-partner {
        padding: 20px;
    }
}
