/* CSS CARDVALUE STYLE SHEET */

/* Desktop max-width 1920px */
.value-article {
    display: flex;
    align-items: center;
    gap: 30px;
}

.value-article-content {
    font-family: 'Open Sans';
    font-size: 22px;
    background-color: rgba(24, 12, 175, 0.3);
    padding: 40px;
    position: relative;
}

.right-triangle {
    width: 0px;
    height: 100%;
    position: absolute;
    border: 75px solid transparent;
    right: -149px;
    top: 0px;
    z-index: -1;
    border-left: 75px solid rgba(24, 12, 175, 0.3);
}

/* Tablet max-width 1024px */
@media screen and (max-width: 1024px) {
    .value-article-content {
        font-size: 18px;
        padding: 30px;
    }
}

/* Mobile max-width 767px */
@media screen and (max-width: 767px) {
    .value-article {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .value-article-content {
        font-size: 14px;
        padding: 20px;
        text-align: justify;
        border-radius: 30px;
        margin: 0 10px;
    }

    .right-triangle {
        display: none;
    }
}
