/* CARDPROJECT STYLE SHEET */

/* Desktop max-width 1920px */
.project-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(119, 119, 119, 0.15);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

.project-article h3 {
    font-family: 'Roboto';
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px;
}

.project-article-content {
    font-family: 'Open Sans';
    font-size: 18px;
    text-align: center;
    padding: 40px 40px 80px 40px;
}

/* Tablet max-width 1024px */
@media screen and (max-width: 1024px) {
    .project-article h3 {
        font-size: 20px;
    }

    .project-article-content {
        font-size: 14px;
        padding: 25px 25px 40px 25px;
    }
}

/* Mobile max-width 767px */
@media screen and (max-width: 767px) {
    .project-article {
        border-bottom-left-radius: 300px 250px;
        border-bottom-right-radius: 300px 250px;
    }

    .project-article h3 {
        font-size: 18px;
    }

    .project-article-content {
        padding: 10px 10px 20px 10px;
        width: 85%;
    }
}
