/* FOOTER STYLE SHEET */

/* Desktop max-width 1920px */
.fiatope-footer {
    margin: auto;
    max-width: 1920px;
    padding: 30px 0;
    background-color: #180caf;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 100px 40px;
    border-top-right-radius: 100px 40px;
}

.fiatope-footer-list {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.fiatope-footer-bloc {
    display: flex;
    align-items: center;
    color: #180caf;
    gap: 15px;
}

.fiatope-footer-icon {
    background-color: #ffffff;
    padding: 7px;
    border-radius: 100%;
}

.fiatope-footer-element {
    color: #ffffff;
    text-decoration: none;
}

.fiatope-footer-element:hover {
    text-decoration: underline;
}

/* Tablet max-width 992px */
@media screen and (max-width: 992px) {
    .fiatope-footer {
        padding: 20px 0;
        font-size: 16px;
        font-weight: 500;
    }

    .fiatope-footer-list {
        gap: 50px;
    }

    .fiatope-footer-bloc {
        gap: 10px;
    }
}

/* Mobile max-width 768px */
@media screen and (max-width: 768px) {
    .fiatope-footer {
        font-size: 14px;
        font-weight: 500;
    }

    .fiatope-footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}
