/* HEADER STYLE SHEET */

/* Desktop max-width 1920px */
.fiatope-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1920px;
    padding: 0px 50px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}

.fiatope-header-logo {
    width: 150px;
}

/* Tablet max-width 1024px */
@media screen and (max-width: 1024px) {
    .fiatope-header {
        padding: 0 20px;
    }

    .fiatope-header-logo {
        width: 120px;
    }
}

/* Mobile max-width 767px */
@media screen and (max-width: 767px) {
    .fiatope-header-logo {
        width: 90px;
    }
}
