/* CSS PROJECTS STYLE SHEET */

/* Desktop max-width 1920px */
.projects-section {
    max-width: 1920px;
    margin: auto auto 400px auto;
    position: relative;
}

.projects-section h2 {
    text-align: center;
    font-family: 'Roboto';
    color: #180caf;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 80px;
}

.projects-display {
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.project-image {
    border-radius: 60px;
    width: 100%;
}

.projects-background {
    background: #180caf;
    filter: opacity(20%);
    width: 600px;
    height: 300px;
    position: absolute;
    left: -200px;
    top: 1000px;
    border-radius: 50% / 100% 100% 0 0;
    transform: rotate(90deg);
}

/* Tablet max-width 1024px */
@media screen and (max-width: 1024px) {
    .projects-section h2 {
        font-size: 40px;
    }

    .projects-background {
        width: 400px;
        height: 150px;
        top: 600px;
    }
}

/* Mobile max-width 767px */
@media screen and (max-width: 767px) {
    .projects-section {
        margin-bottom: 100px;
    }

    .projects-section h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .projects-display {
        margin: 0 40px;
        display: flex;
        flex-direction: column;
    }

    .project-image {
        border-radius: 100px;
    }

    .projects-background {
        width: 350px;
        top: 400px;
    }
}
